body {
    // background-image: url('../images/car1.jpg');
    background-color: rgb(10, 184, 126);
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    width: 360px;
    height: 460px;
    object-fit: contain;
}